@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #777777;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2b2a2a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
  cursor: pointer;
}
